@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
	height: 100%;
	width:100%;
	font-family: 'Poppins', sans-serif;
	color: #222;
}

/* Navigation Bar */

.top-logo {
	width: 100px;
	height: 45px;
}

.navbar {
	padding: .1rem;
}

.navbar-nav li {
	padding-right: 20px;
}

.nav-link {
	font-size: 1.1em !important;
}

/* Image Slider */

.carousel-inner img {
	width: 100%;
	height: 100%;
}

.carousel-caption {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.carousel-caption h1 {
	font-size: 500%;
	text-transform: uppercase;
	text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3 {
	font-size: 200%;
	font-weight: 500;
	text-shadow: 1px 1px 10px #000;
	padding-bottom: 1rem;
}

.btn-primary {
	background-color: #99A3A4;
	border: 1px solid #99A3A4;
}

.btn-primary:hover {
	background-color: #F5B7B1;
	border: 1px solid #F5B7B1;
}

.jumbotron {
	padding: 1rem;
	border-radius: 0;
}

.padding {
	padding-bottom: 2rem;
}

.welcome {
	width: 75%;
	margin: 0 auto;
	padding-top: 2rem;
}

.welcome hr {
	border-top: 2px solid #b4b4b4;
	width: 95%;
	margin-top: .3rem;
	margin-botton: .1rem;
}

.fun {
	width: 100%;
	margin-bottom: 2rem;
}

footer {
	background-color: #3f3f3f;
	text-color: #d5d5d5;
	padding-top: 2rem;
}

hr.light {
	border-top: 1px solid #d5d5d5;
	width: 75%;
	margin-top: .8rem;
	margin-bottom: 1rem;
}

/* Social Links (instagram, facebook, twitter etc) */

.social a {
	font-size: 4.5em;
	padding: 3rem;
}

/* Footer */

footer {
	background-color: #3f3f3f;
	text-color: #d5d5d5;
	padding-top: 2rem;
}

hr.light {
	border-top: 1px solid #d5d5d5;
	width: 75%;
	margin-top: .8rem;
	margin-bottom: 1rem;
}

footer a {
	color: #d5d5d5;
}

hr.light-100 {
	border-top: 1px solid #d5d5d5;
	width: 100%;
	margin-top: .8rem;
	margin-bottom: 1rem;
}

/* Login Page */

.box {
	width: 320px;
	background: rgba(0,0,0,.8);
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	border-radius: 10px;
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0,0,0,.5);
	padding: 70px 30px;
}

.loginAvatar {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}

.box h2 {
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}

.box p {
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.box input {
	width: 100%;
	margin-bottom: 20px;
}

.box input[type="text"], input[type="password"] {
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}

.box a {
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: darkgrey;
}

.box a:hover {
	color: #fff;
}

/* Register Page */
.regBox {
	width: 500px;
	background: rgba(0,0,0,.8);
	color: #fff;
	top: 85%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	border-radius: 10px;
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0,0,0,.5);
	padding: 70px 30px;
}

.regBox h2 {
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}

.regBox p {
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.regBox input {
	width: 100%;
	margin-bottom: 20px;
}

.regBox input[type="text"], input[type="password"] {
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}

.regBox input[type="radio"] {
	width: 5%;
	font-size: 16px;
}

.regBox input[type="checkbox"] {
	width: 5%;
	font-size: 16px;
}

.regBox a {
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: darkgrey;
}

.regBox a:hover {
	color: #fff;
}

/* Media Queries */

@media (max-width: 992px) {
	.social a {
		font-size: 4em;
		padding: 2rem;
	}
}

@media (max-width: 768px) {
  .carousel-caption {
	top: 45%;
	}

.carousel-caption h1 {
	font-size: 350%;
	}

.carousel-caption h3 {
	font-size: 140%;
	font-weight: 400;
	padding-bottom: .2rem;
}

.carousel-caption .btn {
	font-size: 95%;
	padding: 8px 14px;
}

.display-4 {
	font-size: 200%;
}

.social a {
	font-size: 2.5em;
	padding: 1.2rem;
}
}
@media (max-width: 576px) {
  .carousel-caption {
	top: 40%;
	}

.carousel-caption h1 {
	font-size: 250%;
	}

.carousel-caption h3 {
	font-size: 110;
}

.carousel-caption .btn {
	font-size: 90%;
	padding: 4px 8px;
}

.carousel-indicators {
	display: none;
}

.social a {
	font-size: 2em;
	padding: .7rem;
}

.display-4 {
	font-size: 160%;
}
}


/* Firefox Bug Fix */

.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

/* Fixed Background Image */

figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/pexels-photo-835774.jpeg');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}

/* Bootstrap Padding Fix */

[class*="col-"] {
    padding: 1rem;
}
